.cartPage{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(116, 114, 114);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cartContent{
    width: 50%;
    background-color: white;
    border:1px solid gray;
    border-radius: 5px;
    padding: 20px; 
}